body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(250, 250, 125);
    justify-content: center;
    align-items: center;
    height: 90vh;
}