body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(250, 250, 125);
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.main_screen{
    display: block;
    text-align: center;
    overflow-y: scroll;
}
.main_screen::-webkit-scrollbar {
    display: none;
}
.game_status{
    font-size: large;
}
.game_players{
    display: flex;
    justify-content: center;
}
.options{
    display: flex;
}
.confirm_selection{
    margin-top: 1vh;
}
.confirm_selection>button{
    border: 1px solid  rgb(200, 200, 100);
    padding: 1vh;
    margin: 1vh;
    background-color: rgb(80, 80, 40);
    color:  rgb(200, 200, 100);
}
.confirm_selection>button:hover{
    cursor: pointer;
}
