.header{
    display: block;
}
.main_screen_game_config{

}
.mode_selection{
    margin: 1vh;
}
.buttontrue{
    border: 1px solid  rgb(200, 200, 100);
    background-color: rgb(250, 250, 125);
    padding: 1vh;
}
.buttonfalse{
    border: 1px solid  rgb(200, 200, 100);
    background-color: rgb(200, 200, 100);
    padding: 1vh;
}
.buttonfalse:hover{
    cursor: pointer;
}
.rules{
    background-color: rgb(80, 80, 40);
    color:rgb(200, 200, 100);
    text-decoration: none;
    border: 1px solid  rgb(200, 200, 100);
    padding: 1vh;
    margin: 1vh;
}
.rules:hover{
    cursor: pointer;
}
@media screen and (orientation:portrait){
    .main_screen_game_config{
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .header>h1{
        font-size: medium;
    }
}