.not_found_page{
    display: block;
    text-align: center;
}
.navigate-home-button{    
    border: 1px solid  rgb(200, 200, 100);
    background-color: rgb(80, 80, 40);
    color:  rgb(200, 200, 100);
    padding: 1vh;
}
.navigate-home-button:hover{
    cursor: pointer;
}
.error_message{
    font-size: large;
}