.main_screen{
    display: block;
    text-align: center;
}
.main_screen_header{
    text-align: center;
}
.main_screen_body{
    display: block;
    text-align: center;
}
.main_screen_result{
    display: block;
    text-align: center;
}
.main_screen_match{
    display: block;
    text-align: center;
}
.game_players{
    display: flex;
    justify-content: center;
}
.options{
    display: flex;
    align-items: center;
    justify-content: center;
}
.confirm_selection{
    background: none;
}
.confirm_selection>button{
    background: none;
}
/* 
@media screen and (orientation:portrait){
    .game_players{
        border: 1px solid red;
        column-gap: 1vw;
        display: block;
        justify-content: center;
    }
} */