.main_screen{
    display: block;
    text-align: center;
}
.main_screen_header{
}
.main_screen_body{
}
.main_screen_result{
}
.main_screen_match{
}
.game_players{
    display: flex;
    justify-content: center;
}
.options{
    display: flex;
}
.confirm_selection{
}
.confirm_selection>button{
    border: 1px solid  rgb(200, 200, 100);
    padding: 1vh;
    margin: 1vh;
    background-color: rgb(80, 80, 40);
    color:  rgb(200, 200, 100);
}
.confirm_selection>button:hover{
    cursor: pointer;
}
 
@media screen and (orientation:portrait){
    .main_screen_match{
        display: flex;
    }
    .game_players{
        display: block;
    }
    .options{
        display: block;
    }
}