.main_screen{
    display: block;
    text-align: center;
}
.main_screen_header{
}
.game_status{
    font-size: large;
}
.main_screen_body{
}
.main_screen_result{
}
.main_screen_match{
}
.game_players{
    display: flex;
    justify-content: center;
}
.options{
    display: flex;
}
.confirm_selection{
    margin-top: 1vh;
}
.confirm_selection>button{
    border: 1px solid  rgb(200, 200, 100);
    padding: 1vh;
    margin: 1vh;
    background-color: rgb(80, 80, 40);
    color:  rgb(200, 200, 100);
}
.confirm_selection>button:hover{
    cursor: pointer;
}
