.main_screen{
    display: block;
}
.main_screen_header{
    height: 10vh;
    text-align: center;
}
.game_players{
    column-gap: 2vw;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.buttonfalse{
    
}
.buttontrue{
    background-color:rgb(0, 255, 13);
}
@media screen and (orientation:portrait){
    .game_players{
        display: block;
        justify-content: center;
    }
}