.optiontrue{
    transition: all 0.2s;
}
.optionfalse{
    transition: all 0.2s;
}
.optiontrue:hover {
    cursor: pointer;
    transition: all 0.1s ease; 
    transform: scale(1.5);
}
img{
    width: 30%;
}