.option{
    border: 1px solid black;
    display: flex;
    width: 50%;
    height: 80%;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
}

.option:hover {
    cursor: pointer;
    transition: all 0.2s ease; 
    transform: scale(1.2);
}