.optiontrue{
}
.optiontrue:hover {
    cursor: pointer;
    transition: all 0.1s ease; 
    transform: scale(1.20);
}
img{
    width: 40%;
}

@media screen and (orientation:portrait){
    .optiontrue{
        align-items: center;
        align-content: center;
    }
}