.player{
    display: block;
    align-items: center;
    justify-content: center;
}

.current_selection{
    justify-content: center;
    display: flex;
}
.player_info{
    justify-content: center;
    display: flex;
}